# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [22]:
import collections
input_str = input('Enter Input:')
print(collections.Counter(input_str))# Counting the characters and storing in dict

Enter Input:google
Counter({'g': 2, 'o': 2, 'l': 1, 'e': 1})

(2) Write a Python program to sum all the items in a list. (6 points)

In [12]:
lis = [1,2,3,4]
print("Sum of List is",sum(lis)) # Adding using Sum function

Sum of List is 10

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [26]:
s=input('Enter Input string: ')
l=s[0] + s[1:].replace(s[0],'$')# Replecing the reoeated first element by $ usig .replace function
l

Enter Input string: sister

'si$ter'

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [6]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))

try:  ## There is Chance of zero division error
    S= 3.14*(1+a/b)**3
    print(S)
except ZeroDivisionError:
        print('Zero Division error')

Enter a: 0
Enter b: 0
Zero Division error

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [17]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Final= {**dic1,**dic2,**dic3} # Comnining all the dicts
Final

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [32]:
s=(0,1,3,4,5,6,3,4,5,5)
print(len(s))
input_ = int(input('Enter letter: '))
print(input_ in s)# Check for the element. Returs TRUE if exists

10
Enter letter: 5
True

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [23]:
set_ex = {2,4,5,6}
print("The maximum number in set is ",max(set_ex))
print("The minimum number in set is ",min(set_ex))

The maximum number in set is  6
The minimum number in set is  2

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [46]:
# write your answer here


k=0
j=0
sample=[6,55,666,6]

for i in range(0,len(sample)):# For loop to iterate through the array
    for j in range (i+1,len(sample)):
        if sample[i]==sample[j]:
            print(" Duplicate values for",sample[i])
            k=k+1
        else:
            j=-1 
if k>0:# Return -1 if there are no dupilcate
    pass
elif j==-1:
    print(-1)

 Duplicate values for 6