# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [25]:
from random import randint
from statistics import mean
ran = []
for i in range(12):
    
    ran.append(randint(1,100))
print("The Random Numbers are ",ran)

ran.sort()
print("Random Numbers in ascending order ",ran)

ran.sort(reverse =True)
print("Random Numbers in decending order ",ran)

print('The average is ',round(mean(ran),2))

The Random Numbers are  [76, 39, 15, 57, 87, 87, 43, 26, 2, 39, 63, 71]
Random Numbers in ascending order  [2, 15, 26, 39, 39, 43, 57, 63, 71, 76, 87, 87]
Random Numbers in decending order  [87, 87, 76, 71, 63, 57, 43, 39, 39, 26, 15, 2]
The average is  50.42

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [43]:
import math
#r = int(input("Enter 'r(1-10) value :'"))
print(" r         V \n" )
for i in range(1,11):
    
    V = 4/3 * math.pi * i**3
    print(" {}        {} ".format(i,round(V,2)))

 r         V

 1        4.19
 2        33.51
 3        113.1
 4        268.08
 5        523.6
 6        904.78
 7        1436.76
 8        2144.66
 9        3053.63
 10        4188.79

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [27]:
#1
import pandas as pd
from scipy import stats
df= pd.read_csv("lab_assignment_02_denton_housing.csv") # Data Import

In [41]:
occu = df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values('year', ascending=True)
occu = occu.assign(years=occu['year'].map(str)+ '-' + occu['year'].shift(-1).fillna(-999).astype(int).map(str), Difference = occu['value'] - occu['value'].shift(-1).fillna(0).astype(int))
occu

    year             title_field  value      years  Difference
20  2008  Occupied Housing Units  36711  2008-2009         795
17  2009  Occupied Housing Units  35916  2009-2010       -5091
14  2010  Occupied Housing Units  41007  2010-2011         303
11  2011  Occupied Housing Units  40704  2011-2012       -1404
8   2012  Occupied Housing Units  42108  2012-2013       -1565
5   2013  Occupied Housing Units  43673  2013-2014       -2622
2   2014  Occupied Housing Units  46295  2014--999       46295

In [40]:
occu.drop(occu[occu['years'].str.contains('--')].index, inplace=True)
print(occu[['years','Difference']].to_string(index=False))

    years  Difference
2008-2009         795
2009-2010       -5091
2010-2011         303
2011-2012       -1404
2012-2013       -1565
2013-2014       -2622

In [39]:
#2
import pandas as pd #Libraries
import statistics
vac = df[df['title_field']=='Vacant Housing Units']

occ = df[df['title_field']=='Occupied Housing Units']

tot = df[df['title_field']=='Total Housing Units']

In [36]:
Final = pd.DataFrame(vac['value'])
Final['Vacant'] = Final['value']
Final['Occupied']=list(occ['value'])
Final['Total']=list(tot['value'])
Final['Year']=list(tot['year'])
Final['Occupied Housing Unit'] =(round( (Final['Occupied']/Final['Total'])*100,2)).astype(str) +"%"
Final['Vacant Housing Unit'] =(round( (Final['Vacant']/Final['Total'])*100,2)).astype(str) +"%"
Final[['Year','Vacant Housing Unit','Occupied Housing Unit']]

    Year Vacant Housing Unit Occupied Housing Unit
1   2014               5.73%                94.27%
4   2013                8.8%                 91.2%
7   2012               6.68%                93.32%
10  2011               9.38%                90.62%
13  2010               8.14%                91.86%
16  2009               9.07%                90.93%
19  2008              10.88%                89.12%

In [37]:
#3
Vacant = df[df['title_field'] == 'Vacant Housing Units']
Vacant=Vacant.sort_values(by='value', ascending=False)[:1]

Occupied = df[df['title_field'] == 'Occupied Housing Units']
Occupied=Occupied.sort_values(by='value',ascending=False)[:1]
Total = pd.concat([Vacant, Occupied])
Total = Total[['title_field','year','value']]
Total.rename(columns={'title_field': '', 'year':'Year','value':'Value'}, inplace = True)
print(Total.to_string(index=False))

                        Year  Value
  Vacant Housing Units  2008   4483
Occupied Housing Units  2014  46295

In [38]:
#4
print('The Harmonic mean for Total unites is ',stats.hmean(Final.iloc[:,2:3],axis=0))# HArmonic Mean

The Harmonic mean for Total unites is  [40630.88619939]